/*
Light blue: #75e2e6
Dark blue: #048eaa
Background color: #ffffff
White text: #ffffff
Body text: #000000
Font: Open Sans*/

* {
	/*border: 1px dotted red;*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 85px;
	width: 100%;
	background-color: #75e2e6;
	border-bottom: 3px solid #048eaa;
	color: #000000;
}

#nav__dog__container {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: inline;
	margin: 8px;
	float: left;
	display: inline;
}

/*#nav__text--section {
	margin-top: 1%;
}*/

#nav__dog__icon {
	width: 60px;
	height: 60px;
	display: inline;
}

ul {
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	float: right;
	font-family: 'Open Sans', sans-serif;
	margin-left: 1em;
	margin-right: 2em;
}

li {
	text-decoration: none;
    display: inline-block;
    list-style-type: none;
	text-decoration: none;
	font-weight: bold;
	margin: 8px 20px 10px 0;

}

li a {
	text-decoration: none;
	color: black;

}

#main__section--conatiner {
	background: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)),url("images/park.jpg");
	color: white;
	font-family: 'Open Sans', sans-serif;
	height: 675px;
	text-align: center;
	background-position: center bottom;
	background-size: cover;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}


