/*
Light blue: #75e2e6
Dark blue: #048eaa
Background color: #ffffff
White text: #ffffff
Body text: #000000
Font: Open Sans*/

/** {
	border: 1px solid red;
}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 70px;
	width: 100%;
	background-color: #75e2e6;
	border-bottom: 3px solid #048eaa;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #000000;
}

#nav__dog__container {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 8px 0 0 12px;
	float: left;
	display: inline;
}

/*#nav__text--section {
	margin-top: 1%;
}*/

#nav__dog__icon {
	width: 50px;
	height: 50px;
	display: inline;
}

ul {
	display: inline-block;
	text-decoration: none;
	float: right;
  margin-right: 2em;
	margin-top: 1em;
}

li {
	text-decoration: none;
  display: inline-block;
  list-style-type: none;
	text-decoration: none;
	font-weight: bold;
	margin: 8px 25px 12.5px 0;

}

li a {
	text-decoration: none;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 17px;
}

.main__section--container {
	background: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)),url("images/park.jpg");
	color: white;
	font-family: 'Open Sans', sans-serif;
  height: 528px;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 3% 0 1% 0;
}

#main__article--container {
  width: 55%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.8em;
  display: inline;
}

#main__article--container h1 {
	font-weight: 300;
	font-size: 1.35em;
}

#main__label--field {
	font-size: 15px;
  display: block;
  text-align: left;
}

#main__section--form {
	width: 350px;
  margin: 1.5em auto;
}

#main__red--dog {
	background: url('images/dog1-sq.jpg');
	background-size: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #048eaa;
	margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#main__input--field,
#main__input--button {
	width: 100%;
	height: 45px;
	border-radius: 3px;
	display: inline;
}

#main__input--button {
	margin-top: 19px;
	font-weight: 600;
	background: #75e2e6;
	font-size: 15px;
	text-decoration: none;
	cursor: pointer;
}

#bottom__main--section {
	width: 100%;
	height: 700px;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
	padding: 25px;
}

#bottom__article--dogs {
	width: 300px;
	display: inline-block;
	margin-top: 1%;
}

.text-container {
	height: 300px;
	width: 275px;
	text-align: left;
}

#bottom__article--nomar {
	width: 300px;
	margin: 0 7% 0 7%;
	display: inline-block;
}

#bottom__article--dogs > p {
	text-align: left;
}

#bottom__image--a,
#bottom__image--b,
#bottom__image--c {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	border: 5px solid #048eaa;
	margin: 9% 0;
}

footer {
	width: 100%;
	height: 200px;
	background: #048eaa;
	padding: 4%;
}

#footer__sm--icons {
	width: 30%;
	height: 50%;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
}

#footer__sm--icons p {
	font-size: 1.2em;
	margin-bottom: 10px;
	font-weight: 300;
}

#footer__sm--icons img {
	margin: 8px;
}

.bottom__dog--button {
	width: 100%;
	height: 45px;
	background: #048eaa;
	color: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	margin-top: 10%;
}

#text-container-a {
	margin-bottom: 21px;
	text-align: left;
}

#text-container-b {
	text-align: left;
} 

#text-container-c {
	margin-bottom: 42px;
	text-align: left;
}

/*#bottom__icon__container {
	width: 125px;
	height: 125px;
	border-radius: 50%;
}*/

