
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #75e2e6;
	border-bottom: 3px solid #048eaa;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	height: 70px;
	position: relative;
	width: 100%;
	z-index: 1;
}

#nav__dog__container {
	border-radius: 50%;
	display: inline;
	float: left;
	height: 50px;
	margin: 8px 0 0 12px;
	width: 50px;
}

#nav__dog__icon {
	display: inline;
	height: 50px;
	width: 50px;
}

ul {
	display: inline-block;
	float: right;
	margin-top: 1em;
	text-decoration: none;
	z-index: 12;
  margin-right: 2em;
}

li {
	font-weight: bold;
	margin: 8px 25px 12.5px 0;
	text-decoration: none;
	z-index: 12;
  display: inline-block;
  list-style-type: none;
}

li a {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	z-index: 12;
}

.main__section--container {
	background: linear-gradient(rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)),url("Images/park.jpg");
	color: white;
	font-family: 'Open Sans', sans-serif;
  height: 528px;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 2% 0 1% 0;
}

#main__article--container {
  display: inline;
  font-size: 1.8em;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 55%;
}

#main__article--container h1 {
	font-size: 1.35em;
	font-weight: 300;
}

#main__label--field {
	font-size: 15px;
  display: block;
  text-align: left;
}

#main__section--form {
	width: 350px;
  margin: 1.5em auto;
}

#main__red--dog {
	background-size: cover;
	background-position: center;
	background: url('Images/dog1-sq.jpg');
	border-radius: 50%;
	border: 5px solid #048eaa;
	height: 200px;
	margin-left: auto;
	width: 200px;
  margin-right: auto;
  margin-top: 2%;
}

#main__input--field,
#main__input--button {
	border-radius: 3px;
	border: none;
	display: inline;
	height: 45px;
	width: 100%;
}

#main__input--button {
	background: #75e2e6;
	border: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	margin-top: 19px;
	text-decoration: none;
}

#bottom__main--section {
	height: 100%;
	margin-left: auto;
	padding-bottom: 25px;
	text-align: center;
	width: 100%;
  margin-right: auto;
}

#bottom__article--dogs {
	display: inline-block;
	margin-top: 3%;
	vertical-align: top;
	width: 300px;
}

#bottom__article--dogs h2 {
	font-size: 1.85em;
}

.text-container {
	height: 300px;
	text-align: left;
	width: 275px;
}

#bottom__article--nomar {
	width: 300px;
	margin: 0 15%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1%;
}

#bottom__article--nomar h2 {
	font-size: 1.85em;
}

#bottom__article--dogs > p {
	text-align: left;
}

#bottom__image--a,
#bottom__image--b,
#bottom__image--c {
	border-radius: 50%;
	border: 5px solid #048eaa;
	height: 250px;
	margin: 12% 0;
	width: 250px;
}

.nav__respon--section {
	background: #75e2e6;
	height: 450px;
	position: absolute;
	width: 100%;
	z-index: 10;
}


#bottom__how--button,
#bottom__what--button,
#bottom__facts--button {
	background: #048eaa;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	height: 45px;
	margin-top: 10%;
	vertical-align: baseline;
	width: 100%;
}

#text__container--a {
	margin-bottom: 21px;
	text-align: left;
}

#text__container--b {
	text-align: left;
} 

#text__container--c {
	margin-bottom: 42px;
	text-align: left;
}

.nav__menu--icon {
	display: none;
	width: 65px;
  float: right;
  height: 65px;
  margin-right: 4%;
 /* background-position: center;*/
  background-size: cover;
}

.text__container--display {
	display: none;
}

.dropNav {
	background: black;
	display: inline;
}

footer {
	background: #048eaa;
	height: 200px;
	padding: 2.5% 0;
	width: 100%;
}

#footer__sm--icons {
	color: #ffffff;
	height: 50%;
	margin: 0 auto;
	text-align: center;
}

#footer__sm--icons p {
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 10px;
}

#footer__icon {
	margin: 8px;
}

@media screen and (min-width: 955px) {
  
#bottom__article--nomar h2 {
	margin-top: 30px;
}

}

@media screen and (max-width: 650px) { 

.nav__section--ul {
  display: none;
}

.nav__menu--icon {
	display: inline;
}
 

}





